* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.block {
  width: 500px;
  min-height: 200px;
  background-color: orange;
  margin: auto;
}
.test1{
  width: 50%;
  min-height: 50px;
  background-color: red;
  float: left;
}
.test2{
  width: 50%;
  min-height: 50px;
  background-color: lime;
  float: left;
}
.block::after {
  content: : "";
  display: block;
  clear: both;
}
@media screen and (max-width: 900px) {
  .test1 {width: 70%;}
  .test2 {width: 30%;}
}
@media screen and (max-width: 640px) {
  .test1 {width: 100%;}
  .test2 {width: 100%;}
}
